@import "common/variables.less";

.background-challenge {
  background: url(images/background-challenge.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

.player1 {
  background: url(images/player1-prepare.gif) no-repeat;
  position: absolute;
  width: 512px;
  height: 512px;
  bottom: 20px;
  &.dead {
    background: url(images/player1-dead.gif) no-repeat;
  }
  &.attack {
    background: url(images/player1-attack.gif) no-repeat;
  }
  &.damage {
    background: url(images/player1-damage.gif) no-repeat;
  }
  &.congrats {
    background: url(images/player1-celebrate.gif) no-repeat;
  }
}
.player2 {
  background: url(images/player2-prepare.gif) no-repeat;
  position: absolute;
  width: 512px;
  height: 512px;
  bottom: 20px;
  right: 0;
  &.dead {
    background: url(images/player2-dead.gif) no-repeat;
  }
  &.attack {
    background: url(images/player2-attack.gif) no-repeat;
  }
  &.damage {
    background: url(images/player2-damage.gif) no-repeat;
  }
  &.congrats {
    background: url(images/player2-celebrate.gif) no-repeat;
  }
}

.spellPlayer1 {
  background: url(images/spells/1.gif) no-repeat;
  position: absolute;
  width: 624px;
  height: 624px;
  bottom: 20px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  .animation(spell1 10000ms linear forwards);
}
.spellPlayer2 {
  background: url(images/spells/1.gif) no-repeat;
  position: absolute;
  width: 624px;
  height: 624px;
  bottom: 20px;
  right: 0;
  .animation(spell2 10000ms linear forwards);
}

.begin, .win, .loose {
  background: url(images/ready.gif) no-repeat;
  width: 660px;
  height: 216px;
  position: absolute;
  margin-left: ~"calc(50vw - 330px)";
  margin-top: ~"calc(50vh - 108px)";
}
.begin {
  background: url(images/ready.gif) no-repeat;
}
.win {
  background: url(images/win.png) no-repeat;
}
.loose {
  background: url(images/loose.png) no-repeat;
}

.hud {

  .vs {
    position: absolute;
    margin-left: ~"calc(50vw - 11.5px)";
    line-height: 45px;
  }
  .player1hud, .player2hud {
    width: 50%;
    float: left;
  }
  .username {
    line-height: 45px;
  }
  .life {
    margin: 10px;
    width: 25px;
    height: 25px;
    float: left;
    fill: #333;
    &.full {
      fill: #e74c3c;
    }
  }
  .player2hud{
    .life {
      float: right;
    }
    .username {
      text-align: right;
    }
  }
}

.timer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 15px;
  background: #e74c3c;
  .animation(timer 10000ms linear forwards);
}

@-webkit-keyframes timer {
  from {width: 100%;}
  to {width: 0%;}
}
@keyframes timer {
  from {width: 100%;}
  to {width: 0%;}
}

@-webkit-keyframes spell1 {
  from {.translate(0,0);}
  to {.translate(100%,0);}
}
@keyframes spell1 {
  from {.translate(0,0);}
  to {.translate(100%,0);}
}

@-webkit-keyframes spell2 {
  from {.translate(0,0);}
  to {.translate(-100%,0);}
}
@keyframes spell2 {
  from {.translate(0,0);}
  to {.translate(-100%,0);}
}
