.background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.background-home {
  background: url(images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

#facebook-button {
  width: 200px;
  height: 150px;
  margin-left: ~"calc(50vw - 100px)";
  margin-top: ~"calc(50vh - 75px)";
}
