.background-road {
  background: url(images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -10;
}

#settings-button {
  position: absolute;
  width: 200px;
  height: 150px;
  margin-left: ~"calc(25vw - 100px)";
  margin-top: ~"calc(50vh - 75px)";
}

#challenges-button {
  position: absolute;
  width: 200px;
  height: 150px;
  margin-left: ~"calc(75vw - 100px)";
  margin-top: ~"calc(50vh - 75px)";
}

.dialog {
  background: url(images/dialog.png) no-repeat;
  width: 736px;
  height: 490px;
  position: absolute;
  margin-left: ~"calc(50vw - 368px)";
  margin-top: ~"calc(50vh - 245px)";

  h1 {
    text-align: center;
    margin-top: 8px;
  }
  & > div {
    margin: 0 2.5em;
    max-height: 350px;
    overflow-y: auto;
  }
}
