<template name="challenge">
  <div class='background background-challenge'></div>
  <div class="hud">
    <div class="vs">VS</div>
    <div class="player1hud">
      {{#each player1Life}}
      <div class="life{{#if life}} full{{/if}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M15.25,26.971c1.688,0,18.25-8.502,16.639-20.098c-0.795-5.729-6.287-7.961-11.095-6.377c-3.927,1.295-5.375,5.59-5.637,5.59c-0.67,0-7.947-7.021-13.491,0.416c0,0-3.927,4.297,0.278,11.227C4.791,22.422,14.472,26.971,15.25,26.971z"/></svg></div>
      {{/each}}
      <div class="username">{{player1.profile.username}}</div>
    </div>
    <div class="player2hud">
      {{#each player2Life}}
      <div class="life{{#if life}} full{{/if}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M15.25,26.971c1.688,0,18.25-8.502,16.639-20.098c-0.795-5.729-6.287-7.961-11.095-6.377c-3.927,1.295-5.375,5.59-5.637,5.59c-0.67,0-7.947-7.021-13.491,0.416c0,0-3.927,4.297,0.278,11.227C4.791,22.422,14.472,26.971,15.25,26.971z"/></svg></div>
      {{/each}}
      <div class="username">{{player2.profile.username}}</div>
    </div>

  </div>
  <div class="player1"></div>
  <div class="player2"></div>
  {{#if player1Spell}}
  <div class="spellPlayer1" style="background-image: url(images/spells/{{player1Spell}}.gif)"></div>
  {{/if}}
  {{#if player2Spell}}
  <div class="spellPlayer2" style="background-image: url(images/spells/{{player2Spell}}.gif)"></div>
  {{/if}}
  {{#if begin}}
  <div class="begin"></div>
  {{/if}}
  {{#if playing}}
  {{#if lastMovement}}
    <div class="movement" style="background-image: url(images/movements/{{lastMovement}}.gif)"></div>
  {{else}}
    <div class="movement" style="background-image: url(images/movements/null.gif)"></div>
  {{/if}}
  <div class="timer"></div>
  {{/if}}
</template>
