<template name="road">
  <div class='background background-road'></div>

  <button id='settings-button'>Settings</button>
  {{> listChallenges}}
  {{#each requestChallenges}}
    <div class="requestChallenge" id="{{_id}}">{{username}} challenges you. Go kick his ass!</div>
  {{/each}}
</template>

<template name="listChallenges">
  <div class="listChallenges dialog">
    <h1>Myozards</h1>
    <div>
    {{#each availableUsers}}
    <div class="myozard" id="{{_id}}">{{profile.username}}</div>
    {{else}}
    No myozards there, sorry...
    {{/each}}
    </div>
  </div>
</template>
